In [1]:
number = 5

if number > 0:
    print(f"{number} is positive")
elif number < 0:
    print(f"{number} is negative")
else:
    print(f"{number} is zero")

5 is positive

In [27]:
int_var = 10
print(int_var)
float_var = 3.14
str_var = "Python"
boolean_true = True

print(int_va, type(int_var))
print(float_var, type(float_var))
print(str_var, type(str-var))
print(bool_var, type(bool_var))

class float:
    class bool:
        type(grades);
        
    if score >> 90:
        print(grade) == "A"
    elif score >= 80:
        print(grade) == "B"
    elif score >= 70:
        print(grade) == "C"
    elif score >= 60:
        print(grade) == "D"
    elif score < 60:
        print(grade) == "F"

def calculate_grade(score):
test_scores = [95, 82, 71, 65, 55]
for score in test_scores:
    print(f"Score: {score}, Grade: {calculate_grade(score)}")

IndentationError: expected an indented block after function definition on line 27 (1723390735.py, line 28)

In [43]:
#TASK: Apply a 10% discount to price
price = 100

discount_dollars = price*.1


price - discount_dollars

90.0

In [90]:
def apply_discount(price):
    discount_dollars = price*.1
    return price - discount_dollars

discounted_price = apply_discount(10)
print(discounted_price)

9.0

In [68]:
#TASK: Apply a 20% discount to price
price = 500
discount_dollars = price*.2

price - price*.2

400.0

In [69]:
def apply_discount(price):
    discount_dollars = price*.2
    return price - discount_dollars

apply_discount(20)

16.0

In [73]:
#TASK:  Apply a 30% discount to price
price = 1000
discount dollars = price*.3

return price - discount dollars

700.0

In [76]:
def apply_discount(price):
    discount_dollars = price*.3
    return price - discount_dollars

apply_discount(30)

21.0

In [80]:
#Hardcode Approach - EXPLICITLY state out the numbers or elements that we want to use
#
#Hardcode Approach == BAD
#Hardcode != AUTOMATED
#Hardcode != REPRODUCIBLE
#Hardcode != WRITING ONCE
apply_discount(prices[0])
apply_discount(prices[1])

105.0

In [106]:
# Looping --> going through a collection, element by element or variable by independent variable
# 2 main types of loops: 'for' loop and a 'while' loop[

# Syntax of a 'for' loop
# 'for' loop --> for arbitrary element name:> in COLLECTION_ELEMENT_NAME:
#{indentation] do_something
# prices = [50,150,600,1200]

# go through each integer in list of integers and apply function
# HINT - the name for temporary element from our collection can be *ANYTHING*
discounted_price_list = []
for full_price in prices:
    discounted_price = (apply_discount(full_price))
    discounted_price_list.append(discounted_price)

45.0
135.0
540.0
1080.0

In [107]:
print(discounted_price)

1080.0

In [109]:
print(discounted_price_list)

NameError: name 'discounted_price_list' is not defined

In [106]:
price_dictionary = {"apple_price": 5,
                    "banana_price": 10}

# go through each integer in list of integers and apply function
# HINT - the name for temporary element from our collection can be *ANYTHING*
discounted_price_list = []
for full_price in price_dictionary:
    discounted_price = (apply_discount(full_price))
    discounted_price_list.append(discounted_price)

45.0
135.0
540.0
1080.0

In [110]:
Angela Clark

NameError: name 'A' is not defined

In [ ]:
n